/TODO
*~
/.nv/
/.elinks/
.zcompdump
.ssh/known_hosts
.viminfo
.*.swp
.*history
.lesshst
.fontconfig/
.ipython
.pylint.d
.python-eggs
.ssh/authorized_keys
.subversion
.ICEauthority
.Private
.vagrant.d/
.VirtualBox/
VirtualBox VMs/
.cache/
.compiz/
.config/
.dbus/
.dmrc
.ecryptfs
.esd_auth
.gconf/
.gconfd/
/.gnome
/.icons
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.local/
.mbsyncrc
.moc/
.mozilla/
.mutt/
.mutt_certificates
.muttrc-aliases
.muttrc-local
.muttrc-password
.pki/
.profile
.pulse-cookie
.pulse/
.quakelive/
.recently-used.xbel
.ssh/id_*
.sudo*
.thumbnails/
.xsession-errors*
.gksu.lock
.java/
.macromedia/
.prism/
.pwsafe.dat
.rnd
Mail/
quotes/
vpn/
Downloads/
Dropbox/
.WorldOfGoo/
.adobe/
.dropbox-dist-new/
.dropbox-dist/
.dropbox/
.epio/
.evolution/
.gegl-0.0/
.gem/
.gimp-*/
.kodos/
.minecraft/
.mission-control/
.oces2/
.openoffice.org/
.pip/
.purple/
.qt/
.rvmrc
.smb/
.smbauth
.synaptic/
.tsclient/
.vagrant/
Backup/
Projects/
Random/
.vim/bundle/nerdtree/.netrwhist
.vim/bundle/nerdtree/doc/tags
public_html
tags
.yolk
.forward
.awssecret
.post-review-cookies.txt
.rvm
.Skype/
.icedtea/
.linuxmint/
.mono/
.vim/.netrwhist
Documents
Music
Private/
doptio/
.Xauthority
.frippery_rows
# netrc is used by the heroku CLI.
.netrc
.libreoffice/
.pythonhist
.recently-used
.cabal/
.ghc/
.steam*
.heroku/
.mateconf/
.mateconfd/
.rbenv/
# Work stuff
mine.ini
unixy/
proccer/
skynet.yaml
tilde.html
Desktop/
bin/fetchmail.lock
opt/FrozenSynapse/
/.bashrc
/.bash_logout
/work
otp-backup-codes
