[core]
    excludesfile = ~/.gitignore
	pager = less --raw
[color]
    ui = auto
[alias]
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    st = status
    stat = status
    cp = cherry-pick
    up = svn rebase
[user]
    name = Sune Kirkeby
    email = mig@ibofobi.dk
    excludesfile = ~/.gitignore
[push]
	default = current
[pull]
	default = current
[merge]
    ff = false
    
