*~
tags

# Directories common in ~
/VirtualBox VMs
/Mail
/quotes
/public_html
/Documents
/Downloads
/Dropbox
/Backup
/Projects
/Random
/Private
/Music
/Desktop
/work
/r
/Backups
/www

# Ignore dot-files in ~
/.*

# Random files
/bin/fetchmail.lock
/irclogs/*
/flexo
/ibofobi.dk
/TODO
/*.pdf
