[color]
    ui = auto
[alias]
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
[user]
    name = Sune Kirkeby
    email = mig@ibofobi.dk
[core]
    excludesfile = ~/.gitignore-global
[commit]
    verbose = true
[rebase]
    autoSquash = true
[pager]
    branch = false
[fetch]
    prune = true
[push]
    default = current
[pull]
    default = current

# Default to work profile for checkouts in ~/work/
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
