# Editor and language turds
tags
*~
*.swp
*.o
*.py[co]
a.out

# Directories common in ~
/VirtualBox VMs
/Mail
/quotes
/public_html
/Documents
/Downloads
/Dropbox
/Backup
/Projects
/Random
/Private
/Music
/Desktop
/work
/r
/Backups
/www

# Ubuntu, you cock-smoking incompetent feces-eating brainless monkey-fuckers,
# ~/ is MY FUCKING HOME DIRECTORY, DO NOT FUCKING POLLUTE IT WITH YOUR SHIT!
/snap

# Ignore dot-files in ~
/.*

# Random files
/bin/fetchmail.lock
/irclogs/*
/flexo
/ibofobi.dk
/TODO
/*.pdf
